@media all {
    .page-break	{ display: none; }
}

@media print {
    .page-break	{ display: block; page-break-before: always; }
}

.loadedItem {
    background-color: green;
}

.unloadedItem {
    background-color: white;
}

.categoryTable {
    border: 1px dashed #cccccc;
    border-collapse: collapse;
}
.categoryTable td {
    border: 1px dashed #cccccc;
    padding-right: 20px;
}

.categoryRow {
    font-style: italic;
    font-size: large;
    text-align: center;
}

table, caption {
    background-color: blue;
}
