.loadedItem {
    background-color: green;
}

.unloadedItem {
    background-color: white;
}

.categoryTable {
    border: 1px dashed #cccccc;
    border-collapse: collapse;
}
.categoryTable td {
    border: 1px dashed #cccccc;
}

.categoryRow {
    font-style: italic;
    font-size: large;
    text-align: center;
}
